*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;

    margin: 0;
}
html{
    min-height: 100vh;
    background: #F9F5FF;

}

nav{
    display: flex;
    align-items: center;    
    padding: 50px 112px 20px;
}

/* Logo container styles */
.odin_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #28262c;
}

/* Logo text styles */
.odin_logo h4{
    font: bold 20px "Norse";
    margin-left: 5px;
}

/* Logo image styles */
.odin_logo img{
    width: 48px;
    height: 48px;
}

#hero, #recipeSection{
    display: flex;
    justify-content: space-between;
    padding: 10px 112px;
}



.heroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.foodHeroText{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 10px;
    height: fit-content;
    gap: 14px;
}

.foodHeroText h2{
    color: #14248a;
}

.foodHeroText > p{
    color: #646367;
    font-size: 16 px;
    margin: 5px 0;
   
} 
.heroText h5{
    color: #14248a;
    line-height: 24px;
    margin: 10px 0;
    padding: 4px;
}
.heroText h1{
    color: #28262c;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    padding: 0;

}
.heroText p, .textWrapper p{
    color: #646367;
    font-size: 16 px;
    margin: 5px 0;
    padding: 4px;
}

.heroText button{
    padding: 10px 25px;
    width: fit-content;
    background: #d4c2fc;
    font-size: 16px;
    font-style: semi-bold;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px #28262c;
}
.heroImages{
    position: relative;
    display: flex;
    align-items: center;
    height: 700px;
    width: 700px;
    overflow: hidden;
}
.foodImages{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 700px;

}
.hero_img{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.foodHero{
    z-index: 1;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    border: 5px solid #28262c;
    object-fit: cover;
}
.blob{
    height: 50rem;
    width: 50rem;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#specialRecipes{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 112px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 800px;
    margin-bottom: 100px;
}
.textWrapper h3{
    color: #14248a;
    line-height: 24px;
    padding: 4px;
}

.textWrapper h2{
    color: #28262c;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    padding: 0;

}

.specialRecipeContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.specialRecipeCard{
    height: 500px;
    width: 23%;
    background: #ffffff;
    border-radius: 40px;
    box-shadow: 0 10px 6px -6px #777;
    transition: 500ms ease;
    border: 1px solid #EDF5FF;
    border-bottom: 0;
    color: #28262c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 40px;
}

.specialRecipeCard:hover{
    background: #d4c2fc;
}

.specialRecipeText{
    display: flex;
    justify-content: space-evenly;
    gap: 20px; 
    width: 100%;
}

.detailContainer{
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.detailContainer img{
    height: 20px;
    width: 20px;
}

.specialRecipeCard a{
    width: fit-content;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background: #d4c2fc;
    transition: 500ms ease;
    color: #28262c;
    cursor: pointer;
    text-decoration: none;
}

.specialRecipeCard:hover a{
    background: #ffffff;
}

.specialRecipeCard h4{
    text-align: center;
}

.imageRecipe{
    height: 200px;
    width: 200px;
    
}
.imageRecipe img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@font-face {
    font-family: "Norse";
    src: url(resources/Norse.otf);
}

.foodHeroContainer{
    display: flex;
    flex-direction: column;
}
.cookDuration{
    display: flex;
    gap: 10px;
}

.cookDuration span{
    font-weight: bold;
}

.cookDuration p{    
    color: #28262c
}


.foodRequirements{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foodRequirements li{
    font-size: 16px;
}

.foodRequirements h2{
    color:  #28262c;
}
#unordered-list{
    list-style-type: none;
    color: #28262c;
    font-size: 20px;
    padding: 0;
}

.buttonContainer{
    display: flex;
    gap: 10px; 
    font-size: 20px;
}

.numberButton{
    border: 2px solid #998fc7;
    background: #d4c2fc;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
.numOfPeople{
    color:  #28262c;
}

.numOfPeople span{
    color: #14248a;
    font-weight: bold;
}